- var pagetype = "styleguide"
- var page = "Index"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    .region.region-page-top
      ul.nav
        li Item 1

    .main-wrapper.container
          header#header.navbar.container.navbar-default
            .navbar-header
              a.logo.navbar-btn.pull-left(href='/', title='Home')
                img(src='http://wim.dev/sites/all/themes/contrib/wim/logo.png', alt='Home')
              .region.region-header
                section#block-search-form.block.block-search.clearfix
                  form#search-block-form.form-search.content-search(action='/', method='post', accept-charset='UTF-8')
                    div
                      div
                        h2.element-invisible Search form
                        .input-group
                          input#edit-search-block-form--2.form-control.form-text(title='Enter the terms you wish to search for.', placeholder='Search', type='text', name='search_block_form', value='', size='15', maxlength='128')
                          span.input-group-btn
                            button.btn.btn-primary(type='submit')
                              span.icon.glyphicon.glyphicon-search(aria-hidden='true')
                        #edit-actions.form-actions.form-wrapper.form-group
                          button#edit-submit.element-invisible.btn.btn-primary.form-submit(type='submit', name='op', value='Search') Search
                        input(type='hidden', name='form_build_id', value='form-eKjd5JK4AUqqjNsAX-5IOAaiqn5HaDTOy_4VNhjIXGk')
                        input(type='hidden', name='form_token', value='g9A8vZlcxhDNOT2E_98AApiJYdKL3wGvrIPW4X2gGvY')
                        input(type='hidden', name='form_id', value='search_block_form')
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-collapse.collapse
              nav(role='navigation')
                ul.menu.nav.navbar-nav
                  li.first.expanded.dropdown
                    a.dropdown-toggle(href='/node/3', title='', data-target='#', data-toggle='dropdown')
                      | Styleguide
                      span.caret
                    ul.dropdown-menu
                      li.first.leaf
                        a(href='/node/6') Atoms
                      li.leaf
                        a(href='/node/5') Molecules
                      li.last.leaf
                        a(href='/node/7') Organisms
                  li.leaf
                    a(href='/node/4') Accessibility
                  li.leaf
                    a(href='/node/2') Dimpact
                  li.last.leaf
                    a(href='/node/1') WIM
          #page-banner(role='banner')
            // Create region for banner and render it here. We moved header to the navbar header section.
          include ./layout/_main.jade

    include ./layout/_scripts.jade
