- var base = "../../"
- var pagetype = "styleguide"
- var section = "atoms"
- var page = "Typography"

doctype html
html(lang="en")
  head
    include ../../layout/_head.jade
    
  body(class='#{pagetype}')
      
    .meta-wrapper.container.container-nopadding
      include ../../layout/_top.jade
        

    .main-wrapper.container
      include ../../layout/_navbar.jade
      
      #page-banner(role='banner') 
      // Create region for banner and render it here. We moved header to the navbar header section.
        
      include ../../layout/_main.jade
        
        block content
          :markdown
            The standard font WIM uses is `Robot Slab` and has a fallback to Arial or another sans-serif font. We are using the Google CDN to load the font files. We exposed 2 different font weights in the WIM theme. You can use: 400 and 700
          
          h3 Demo:
          p Font with weight 400
          p 
            strong Font with weight 700
            
          h3 Code:
          pre.language-css
            code.language-css
              | html { 
              |   font-family: 'Roboto Slab', Arial, sans-serif; 
              | }
              
    include ../../layout/_scripts.jade
