.block-search {
  padding: 5px 0 5px 5px;
  border-radius: 4px;
  clear: both;

  .input-group {
    display: block;
    padding: 5px;
    border-radius: 4px;
    background-color: $nav-tabs-border-color;

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    @include MQ($screen-sm) {
      display: table;
    }
    .form-text {
      width: 75%;
      float: left;
      box-sizing: border-box;
      border: none;

      @include MQ($screen-sm) {
        float: none;
        width: 100%;
      }
    }
    .input-group-btn {
      width: 25%;
      float: left;
      @include MQ($screen-sm) {
        float: none;
        width: auto;
      }
      .btn {
        width: 100%;
        line-height: 1.6;
        border: 0;
      }
    }
  }
  .form-group {
    margin: 0;
  }

  .form-text {

  }
}

.search-form {
  margin-top: -10px;
  .form-item-keys {
    float: left;
    margin-right: -90px;
    padding-right: 90px;
    width: 100%;
    .form-text {
      width: 100%;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .btn-primary {
    width: 90px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.search-results {
  padding-left: 0;
  li {
    list-style: none;
    counter-increment: step-counter;
    &:before {
      content: counter(step-counter) ".";
      font-weight: bold;
      float: left;
      line-height: 22px;
      margin-right: 3px;
    }
    .search-snippet-info,
    .node {
      font-weight: normal;
    }
  }
  h3 {
    margin: 15px 0 5px;
    font-weight: bold;
  }
  .search-snippet-info,
  .field-name-body {
    margin: 8px 0 12px;
  }
  .submitted {
    margin: 0;
  }
  .source-wrapper {
    span {
      color: lighten($gray-base, 40%);
    }
  }
  .source {
    font-weight: normal;
  }
  .node-agenda {
    .submitted {
      float: left;
      width: 39px;
      height: 41px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid lighten($gray-base, 90%);
      text-align: center;
      padding-top: 5px;
      span {
        display: block;
        font-weight: bold;
        line-height: 15px;
        color: #4a4a4a;
        &.day {

        }
        &.month {
          text-transform: lowercase;
          font-size: 12px;
        }
      }
    }
  }
}

.block-facetapi {
  h2.block-title {
    background: none;
    padding: 0;
    border: none;
    @extend h2;
  }
  ul:not(.contextual-links) {
    padding-left: 0;
    li {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 22px;
      color: lighten($gray-base, 40%);
    }
    a {
      color: lighten($gray-base, 40%);
      display: inline-block;
      &:before {
        content: "";
        border: 1px solid lighten($gray-base, 90%);
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: top;
        margin-right: 13px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
      }
      &.facetapi-active {
        @extend .fa-check;
        &:before {
          background-color: $brand-primary;
          border-color: $brand-primary;
          @include fa-icon;
          line-height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
