@font-face {
  font-family: 'icons-coevorden';
  src: url("../fonts/icons-coevorden.eot?c0wfjv");
  src: url("../fonts/icons-coevorden.eot?c0wfjv#iefix") format("embedded-opentype"), url("../fonts/icons-coevorden.ttf?c0wfjv") format("truetype"), url("../fonts/icons-coevorden.woff?c0wfjv") format("woff"), url("../fonts/icons-coevorden.svg?c0wfjv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background: white;
  font-family: Verdana;
}

body.navbar-is-fixed-top {
  padding: 0 !important;
}

body.admin-menu.navbar-is-fixed-top {
  padding-top: 0 !important;
}

body.admin-menu .navbar-fixed-top {
  top: 0;
}

body.navbar-is-fixed-top .main-wrapper {
  margin-top: 106px;
}

body #admin-menu {
  position: fixed !important;
}

#block-system-main {
  margin: 0;
}

.page-header {
  border: 0;
  font-size: 30px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px !important;
}

.slicknav_menu {
  display: none;
}

.main-wrapper {
  padding: 0;
  box-shadow: none;
  margin-top: 10px;
  border-radius: 0;
}

.highlighted-wrapper {
  margin-top: -100px;
  position: relative;
  z-index: 1;
  min-height: 183px;
}

.main-container {
  background-color: white;
  border-radius: 0;
  position: relative;
  z-index: 2;
  padding: 30px 15px;
}

.main-container .region-help .block-system {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  width: 130px;
  position: absolute !important;
  z-index: 2;
}

.z-depth-1, .block .entity, .not-front:not(.page-search) .block-search, .block-custom-lists, .search-result, .menu-top-tasks .menu > li > a {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
}

.z-depth-2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.21);
}

.btn {
  border-radius: 0;
  border: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.btn-default {
  background-color: #564B73;
  color: white;
}

.btn-default:hover {
  color: white;
  background-color: #332d45;
}

.btn-primary:hover {
  text-decoration: underline;
  background-color: #564B73;
}

.btn-flat, .btn-primary, .block-custom-lists .more-link a {
  display: inline-block;
  background: #564B73;
  color: white;
  padding: 10px 20px 10px 30px;
  display: inline-block;
  position: relative;
}

.btn-flat:before, .btn-primary:before, .block-custom-lists .more-link a:before {
  position: absolute;
  font-size: 10px;
  margin-right: 1em;
  top: 13px;
  left: 10px;
  -webkit-transition: .2s left ease, .2s background ease;
  transition: .2s left ease, .2s background ease;
}

.btn-flat:hover:before, .btn-primary:hover:before, .block-custom-lists .more-link a:hover:before {
  left: 15px;
}

.btn-outline, .footer a.btn {
  border: 1px solid white;
  color: white;
  position: relative;
  padding-left: 30px;
}

.btn-outline:before, .footer a.btn:before {
  position: absolute;
  font-size: 10px;
  margin-right: 1em;
  top: 13px;
  left: 10px;
  -webkit-transition: .2s left ease, .2s background ease;
  transition: .2s left ease, .2s background ease;
}

.btn-outline:hover:before, .footer a.btn:hover:before {
  left: 15px;
}

.btn-outline:hover, .footer a.btn:hover {
  color: #564B73;
  background: white;
}

.logo {
  display: block;
  margin: 0;
}

.logo img {
  width: 95px;
  height: 35px;
  margin-top: 0px;
}

.not-front:not(.page-search) .breadcrumb-wrapper {
  z-index: 1;
  position: relative;
  background-color: #eeeeee;
}

.not-front:not(.page-search) .breadcrumb-wrapper .breadcrumb {
  background: transparent;
  float: left;
  width: 100%;
  margin: 0;
}

.not-front:not(.page-search) .breadcrumb-wrapper .breadcrumb a {
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  color: #564B73;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #564B73;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

a,
a:hover {
  color: #564B73;
}

.region-content a {
  text-decoration: underline;
  color: #564B73;
}

.region-content a:hover {
  color: #564B73;
  text-decoration: none;
}

.icon-arrowleft:before {
  font-family: "icons-coevorden";
  content: "\e900";
}

.icon-arrowdown:before, .bootstrap-fieldgroup-accordion .panel-heading a:before {
  font-family: "icons-coevorden";
  content: "\e901";
}

.icon-arrowup:before, .bootstrap-fieldgroup-accordion .panel-heading a[aria-expanded="true"]:before {
  font-family: "icons-coevorden";
  content: "\e902";
}

.icon-google:before, .social-links .fa-google-plus-square:before {
  font-family: "icons-coevorden";
  content: "\e903";
}

.icon-alarm:before {
  font-family: "icons-coevorden";
  content: "\e802";
}

.icon-pdf:before {
  font-family: "icons-coevorden";
  content: "\e803";
}

.icon-search:before, .block-search .input-group-btn .btn:before {
  font-family: "icons-coevorden";
  content: "\e804";
}

.icon-arrowright:before, .btn-flat:before, .btn-primary:before, .block-custom-lists .more-link a:before, .btn-outline:before, .footer a.btn:before, .arrow-title:before, .block-custom-lists .date-body h3:before, .editorial.bean-view-mode-header-image .bean-title:before, .editorial.bean-view-mode-header-image .search-result .title:before, .search-result .editorial.bean-view-mode-header-image .title:before, .block-menu-block .menu.nav .leaf:before {
  font-family: "icons-coevorden";
  content: "\1f3f2";
}

.icon-twitter:before, .social-links .fa-twitter-square:before, .footer .block .footer-icons .twitter a:before {
  font-family: "icons-coevorden";
  content: "\e807";
}

.icon-linkedin:before, .social-links .fa-linkedin-square:before, .footer .block .footer-icons .linkedin a:before {
  font-family: "icons-coevorden";
  content: "\e808";
}

.icon-facebook:before, .social-links .fa-facebook-square:before, .footer .block .footer-icons .facebook a:before {
  font-family: "icons-coevorden";
  content: "\e809";
}

.icon-phone:before, .footer .block .contact-list .phone:before {
  font-family: "icons-coevorden";
  content: "\e810";
}

.icon-location:before, .footer .block .contact-list .location:before {
  font-family: "icons-coevorden";
  content: "\e80e";
}

.icon-email:before, .footer .block .contact-list .mail:before {
  font-family: "icons-coevorden";
  content: "\e80f";
}

.arrow-title, .block-custom-lists .date-body h3, .editorial.bean-view-mode-header-image .bean-title, .editorial.bean-view-mode-header-image .search-result .title, .search-result .editorial.bean-view-mode-header-image .title, .block-menu-block .menu.nav .leaf {
  position: relative;
}

.arrow-title a, .block-custom-lists .date-body h3 a, .editorial.bean-view-mode-header-image .bean-title a, .editorial.bean-view-mode-header-image .search-result .title a, .search-result .editorial.bean-view-mode-header-image .title a, .block-menu-block .menu.nav .leaf a {
  display: inline-block;
  font-size: 18px;
  color: #564B73;
  padding-left: 25px;
}

.arrow-title a:hover, .block-custom-lists .date-body h3 a:hover, .editorial.bean-view-mode-header-image .bean-title a:hover, .editorial.bean-view-mode-header-image .search-result .title a:hover, .search-result .editorial.bean-view-mode-header-image .title a:hover, .block-menu-block .menu.nav .leaf a:hover {
  text-decoration: underline;
  background: transparent;
}

.arrow-title:before, .block-custom-lists .date-body h3:before, .editorial.bean-view-mode-header-image .bean-title:before, .editorial.bean-view-mode-header-image .search-result .title:before, .search-result .editorial.bean-view-mode-header-image .title:before, .block-menu-block .menu.nav .leaf:before {
  position: absolute;
  color: #96B522;
  font-size: 10px;
  margin-right: 1em;
  top: 14px;
  left: 0;
  -webkit-transition: .2s left ease;
  transition: .2s left ease;
}

.arrow-title:hover:before, .block-custom-lists .date-body h3:hover:before, .editorial.bean-view-mode-header-image .bean-title:hover:before, .editorial.bean-view-mode-header-image .search-result .title:hover:before, .search-result .editorial.bean-view-mode-header-image .title:hover:before, .block-menu-block .menu.nav .leaf:hover:before {
  left: 5px;
}

.block {
  margin-bottom: 30px;
}

.block .entity {
  background-color: white;
}

.block .entity .content {
  padding: 15px;
}

.block:not(.editorial):first-child h2.block-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-second .region-sidebar-second .block,
.sidebar-second .region-sidebar-second .block-custom-lists {
  box-shadow: none;
}

.navbar .logo {
  padding: 10px 0 15px;
}

.navbar-wrapper.navbar-fixed-top {
  position: fixed;
  top: 0;
  background: white;
}

.navbar-wrapper {
  z-index: 3;
  background: white;
  position: relative;
}

.navbar-wrapper:after {
  content: '';
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  bottom: -10px;
  position: absolute;
  width: 100%;
  height: 10px;
}

.navbar {
  border-radius: 0;
}

.navbar.container {
  max-width: none;
}

.navbar-header {
  width: 100%;
  float: none;
}

.navbar-default {
  border: 0;
  background-color: transparent;
  margin: 0 auto;
}

.navbar-default .navbar-toggle:before {
  content: 'menu';
  font-size: 1.2em;
  color: #564B73;
  position: absolute;
  left: -100%;
  width: auto;
  margin-top: -3px;
}

.navbar-default .navbar-toggle {
  border: 0;
  margin: 12px 0;
  margin-right: 0;
}

.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #564B73;
  height: 3px;
}

.container .navbar-header {
  margin: 0;
  position: relative;
}

.navbar-default .navbar-collapse {
  clear: both;
  background: #564B73;
  position: absolute;
  min-width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 0;
  top: 100%;
  left: 0;
  right: 0;
}

.navbar-default .navbar-nav {
  margin-right: 0;
  margin-left: 0;
}

.navbar-default .navbar-nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-default .navbar-nav li:last-child {
  border-bottom: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background: transparent;
  text-decoration: none;
  color: white;
  padding: .8em 1em;
  font-size: 1.1em;
  font-weight: bold;
}

.navbar-default .navbar-nav > li:first-child > a {
  border-left: 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background: transparent;
}

.navbar-default .navbar-nav > li:last-child a:after {
  display: none;
}

.navbar-default .navbar-nav > li:last-child > a {
  color: white;
  background-color: #564B73;
  border-left: 0;
}

.navbar-default .navbar-nav > li:last-child > a:focus, .navbar-default .navbar-nav > li:last-child > a:hover {
  color: white;
  background: #564B73;
}

.navbar-default .navbar-nav > li:hover > a {
  background: transparent;
}

.block-search {
  max-width: 800px;
  margin: 0 auto;
  float: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.block-search .form-actions {
  display: none;
}

.block-search .form-control {
  border-radius: 0;
  border: 0;
  padding: 19px 12px 18px;
  height: auto;
}

.block-search .input-group-btn .btn {
  color: #555555;
  background-color: white;
  padding: 18px 12px 18px 21px;
  font-size: 0;
}

.block-search .input-group-btn .btn:before {
  position: relative;
  font-size: 14.5px;
  margin-right: 10px;
  top: 0;
  left: 0;
}

.block-search .input-group-btn .btn:hover {
  text-decoration: none;
}

.not-front:not(.page-search) .block-search {
  padding: 0;
}

.not-front:not(.page-search) .block-search .form-control {
  padding: 11px 12px 10px;
}

.not-front:not(.page-search) .block-search .input-group-btn .btn {
  padding: 10px 4px;
}

.page-search .search-form,
.page-search .spelling-suggestions,
.page-search .spelling-suggestions + h2,
.page-search .breadcrumb {
  display: none;
}

.form-text {
  box-shadow: none;
}

.form-textarea {
  box-shadow: none;
}

.webform-container-inline {
  display: block;
}

.webform-container-inline .control-label {
  display: block;
  margin-bottom: .5em;
}

.webform-component-date .webform-container-inline {
  display: block;
}

.webform-component-date .webform-container-inline label {
  display: inline-block;
  margin-bottom: 1em;
}

.webform-component-date .webform-container-inline .form-item {
  display: inline-block;
  margin-right: 1em;
}

.block-custom-lists {
  background: white;
  padding-bottom: 15px;
}

.block-custom-lists .block-title {
  font-size: 24px;
}

.block-custom-lists .date-body {
  padding: 20px 0;
  border-top: 1px solid #eeeeee;
}

.block-custom-lists .date-body h3 {
  margin: 0;
  margin-bottom: 10px;
}

.block-custom-lists .date-body h3:before {
  top: 10px;
}

.block-custom-lists ul {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.block-custom-lists .field-name-field-publication-date {
  color: #777777;
}

.editorial.bean-view-mode-default .entity {
  position: relative;
  min-height: 70px;
}

.editorial.bean-view-mode-default .field-name-field-image {
  position: absolute;
  left: 15px;
  top: 15px;
}

.editorial.bean-view-mode-default .block-title {
  position: absolute;
  left: 85px;
  top: 25px;
  z-index: 1;
}

.editorial.bean-view-mode-default .block-title a {
  font-size: 18px;
  width: auto;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.editorial.bean-view-mode-default .field-name-field-body {
  margin-top: 55px;
}

.editorial.bean-view-mode-link-title .block-title {
  padding: 15px;
  background-color: #564B73;
  color: white;
  min-height: 80px;
  margin: 0;
  font-size: 18px;
}

.editorial.bean-view-mode-link-title .block-title a {
  color: white;
}

.editorial.bean-view-mode-link-title .bean-editorial {
  display: none;
}

.editorial.bean-view-mode-header-image .field-name-field-image {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

.editorial.bean-view-mode-header-image .field-name-field-image img {
  width: 100%;
  height: auto;
}

.editorial.bean-view-mode-header-image .bean-title, .editorial.bean-view-mode-header-image .search-result .title, .search-result .editorial.bean-view-mode-header-image .title {
  border-top: 1px solid #eeeeee;
}

.editorial.bean-view-mode-header-image .bean-title:before, .editorial.bean-view-mode-header-image .search-result .title:before, .search-result .editorial.bean-view-mode-header-image .title:before {
  top: 16px;
}

.bootstrap-fieldgroup-accordion .panel {
  border-radius: 0;
}

.bootstrap-fieldgroup-accordion .panel-heading {
  border-radius: 0;
  background: none;
  padding: 0;
}

.bootstrap-fieldgroup-accordion .panel-heading a {
  display: block;
  padding: 10px 15px;
  color: #564B73;
  text-decoration: none;
}

.bootstrap-fieldgroup-accordion .panel-heading a:before {
  margin-right: 10px;
}

.bootstrap-fieldgroup-accordion .panel-heading a:hover, .bootstrap-fieldgroup-accordion .panel-heading a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.block-menu-block .menu.nav .leaf a {
  font-size: 14px;
}

.nav-tabs a {
  text-decoration: none;
}

.search-results {
  padding: 0;
}

.search-result {
  padding: 15px;
  margin: 0;
  list-style: none;
  margin-bottom: 15px;
}

.search-result .title {
  margin-top: 0;
  border: 0;
}

.search-result .title .content-type {
  display: inline-block;
  padding-top: 12px;
  font-size: 14px;
}

.search-result article {
  margin-bottom: 1em;
}

.search-result article .submitted {
  margin: 0;
}

.search-result .source-wrapper {
  color: #777777;
}

.block-facetapi ul {
  padding: 0;
}

.social-links h3 {
  font-size: 14px;
}

.social-links .social {
  margin: 10px 0;
  padding: 0;
}

.social-links .social li {
  display: inline-block;
  margin-right: 5px;
}

.social-links .social li a {
  background-color: #564B73;
  border-radius: 50%;
  text-align: center;
  padding: 7px 10px;
  height: 35px;
  width: 35px;
  font-size: 0;
  display: block;
  -webkit-transition: .2s transform ease;
  transition: .2s transform ease;
}

.social-links .social li a:before {
  font-size: 15px;
  color: white;
  font-weight: normal;
}

.social-links .social li a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.meta-wrapper {
  background-color: #eeeeee;
  padding: 1em 0;
  text-align: right;
}

.meta-wrapper .block {
  margin: 0;
}

.hero-wrapper {
  background-image: url(../images/bg-highlighted.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  float: none;
  height: 300px;
}

.hero-wrapper:before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-highlighted-overlay.svg);
  background-repeat: no-repeat;
  background-position: top left;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-wrapper:after {
  content: '';
  background: #564B73;
  z-index: 0;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.4;
  left: 0;
}

.front .region-header,
.page-search .region-header {
  width: 100%;
  padding-top: 120px;
}

.not-front:not(.page-search) .region-header {
  float: right;
  width: 100%;
  padding-bottom: 10px;
}

.content-bottom-wrapper {
  background-color: #D4D1DF;
  padding-top: 30px;
}

.footer {
  padding-top: 30px;
  background-color: #564B73;
  color: white;
}

.footer .block h2,
.footer .block .block-title {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer .block table {
  margin: 1em 0;
}

.footer .block table td {
  padding: .5em .5em .5em 0;
}

.footer .block ul {
  padding: 0;
  list-style: none;
}

.footer .block .contact-list li {
  padding: .5em 0;
}

.footer .block .contact-list li:before {
  font-size: 1.3em;
  margin-right: 10px;
}

.footer .block .footer-icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer .block .footer-icons li a {
  font-size: 0;
  display: block;
  color: #564B73;
}

.footer .block .footer-icons li a::before {
  display: block;
  padding: 4px;
  text-align: center;
  border-radius: 50%;
  background: white;
  color: #564B73;
  width: 30px;
  height: 30px;
  font-size: 16px;
  -webkit-transition: .2s transform ease;
  transition: .2s transform ease;
}

.footer .block .footer-icons li a:focus, .footer .block .footer-icons li a:hover {
  text-decoration: none;
}

.footer .block .footer-icons li a:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer a {
  color: white;
}

.footer a.btn {
  padding: 10px 20px 10px 30px;
}

.footer-bottom-wrapper {
  background: white;
  width: 100%;
}

.footer-bottom-wrapper a {
  color: #564B73;
}

.menu-top-tasks .menu-wrapper {
  position: relative;
}

.menu-top-tasks .menu-wrapper:before {
  top: 5px;
  left: 3px;
  right: 3px;
  content: '';
  background: white;
  width: auto;
  height: 300px;
  position: absolute;
}

.menu-top-tasks .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.menu-top-tasks .menu > li {
  width: 100%;
}

.menu-top-tasks .menu > li > a {
  margin: 5px 2px;
  display: block;
  background-color: #564B73;
  color: white;
  padding: 1em 1em;
  font-size: 1em;
  -webkit-transition: .2s transform ease;
  transition: .2s transform ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 0;
}

.menu-top-tasks .menu > li > a:hover, .menu-top-tasks .menu > li > a:focus {
  z-index: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu-top-tasks .menu > li > a:before {
  display: none;
}

.menu-top-tasks .menu > li > a span {
  margin-right: 1em;
}

#block-menu-menu-meta-menu {
  float: none;
  padding: 0;
}

#block-menu-menu-meta-menu ul.menu li {
  display: inline;
}

#block-menu-menu-meta-menu ul.menu li a {
  display: inline-block;
  padding: 0 4px;
  color: #3f3754;
}

#block-menu-menu-meta-menu ul.menu li a:active, #block-menu-menu-meta-menu ul.menu li a:hover {
  background: none;
  text-decoration: underline;
}

#block-menu-menu-meta-menu ul.menu li:before {
  content: '|';
  margin-right: 10px;
}

#block-menu-menu-meta-menu ul.menu li:first-child:before {
  display: none;
}

#block-menu-menu-footer-menu {
  float: none;
  padding: 20px 0;
  margin: 0;
}

#block-menu-menu-footer-menu ul.menu li {
  display: inline;
}

#block-menu-menu-footer-menu ul.menu li a {
  font-size: 12px;
  display: inline-block;
  padding: 0 4px;
  color: #3f3754;
}

#block-menu-menu-footer-menu ul.menu li a:active, #block-menu-menu-footer-menu ul.menu li a:hover {
  background: none;
  text-decoration: underline;
}

#block-menu-menu-footer-menu ul.menu li:before {
  content: '|';
  margin-right: 5px;
}

#block-menu-menu-footer-menu ul.menu li:first-child:before {
  display: none;
}

@media screen and (min-width: 768px) {

  body.admin-menu .navbar-fixed-top {
    top: 29px;
  }

  body.navbar-is-fixed-top .main-wrapper {
    margin-top: 198px;
  }

  .logo {
    margin-top: -10px;
  }

  .logo img {
    width: 150px;
    height: 50px;
  }

  .not-front:not(.page-search) .breadcrumb-wrapper .breadcrumb {
    width: 50%;
    margin: 10px 0;
  }

  .navbar-header {
    padding: 3em 0;
  }

  .navbar-default .navbar-collapse {
    float: right;
    min-width: auto;
    top: auto;
    margin: 0;
    margin-top: 20px;
    position: relative;
    background: transparent;
    clear: none;
    width: auto;
  }

  .navbar-default .navbar-nav li {
    border-bottom: 0;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > .active > a {
    font-size: 1.1em;
    padding: .5em 1em;
    color: #564B73;
    border-left: 2px solid #eeeeee;
  }

  .navbar-default .navbar-nav > li > a:after,
  .navbar-default .navbar-nav > .active > a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 0 auto;
    top: 10px;
    position: relative;
    background: #564B73;
    -webkit-transition: .2s width ease;
    transition: .2s width ease;
  }

  .navbar-default .navbar-nav > li > a:hover:after,
  .navbar-default .navbar-nav > .active > a:hover:after {
    width: 100%;
  }

  .editorial.bean-view-mode-default .block-title a {
    max-width: 75px;
  }

  .block-menu-block.col-md-12 .menu.nav {
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-count: 3;
  }

  .hero-wrapper {
    height: 400px;
  }

  .front .region-header,
  .page-search .region-header {
    padding-top: 140px;
  }

  .not-front:not(.page-search) .region-header {
    margin-top: 7px;
    max-width: 300px;
    padding-bottom: 0px;
  }

  .content-bottom-wrapper .row {
    margin-left: 0;
  }

  .menu-top-tasks .menu > li {
    width: 16.66667%;
  }

  .menu-top-tasks .menu > li > a {
    text-align: center;
    padding-top: 2em;
    height: 150px;
  }

  .menu-top-tasks .menu > li > a span {
    margin-right: 0;
    display: block;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 992px) {

  .tabs--primary,
  .no-sidebars .page-header,
  .no-sidebars #block-system-main.col-md-12 {
    width: 100%;
    float: none;
    max-width: 585px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .navbar-default .navbar-collapse {
    margin-top: 10px;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > .active > a {
    padding: .7em 1.5em .8em;
    font-size: 1.3em;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #564B73;
    border-top: 0;
    margin-top: 0;
  }

  .editorial.bean-view-mode-default .block-title a {
    max-width: 175px;
  }
}

/*# sourceMappingURL=styles.css.map */
