.icon {
  position: relative;
  top: 1px;
  margin-right: .5rem;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-chevron-right { content: "\e080"; }
