// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$grid-gutter-width:         30px !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;


// Typography
$font-family-sans-serif:    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:         "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;

// Colors
$brand-primary: #0080a8 !default; // #29b8e4
$brand-success: #5cb85c !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$body-bg:               #d0d0d0 !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;
//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;
//** Border color for table and cell borders.
$table-border-color:            #ddd !default;
//== Tabs
$nav-tabs-border-color:                     #ddd !default;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
$border-radius-base:        4px !default;

//== Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $brand-primary !default;

$nav-tabs-active-link-hover-bg:             $brand-primary !default;
$nav-tabs-active-link-hover-color:          white !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;



// ***********************
// Non Bootstrap variables
// ***********************

// Footer Block title colors
$footer-block-title-colors: $gray-darker;

// Custom classes (should be removed)
$brand-light: #efe5ef;
$brand-dark: #330033;
$brand-heading: #660066;
$brand-button: #660066;
$brand-border: #eaeaea;
$brand-block-title-bg: #fdfbfd;
$brand-body: #333;
$brand-grey-normal: #d0d0d0;
$brand-grey-light: #efefef;
