$body-bg:               #d0d0d0 !default;

$font-family-sans-serif:    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:         "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

$grid-gutter-width:         30px !default;

$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;

$brand-primary: #0080a8 !default; // #29b8e4
$brand-secondary: #fe229b;
$brand-success: #5cb85c !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$link-color:            $brand-primary !default;
$link-hover-color:      darken($brand-primary, 15%) !default;

$text-color:            $gray-dark !default;
$table-border-color:            #ddd !default;

$nav-tabs-border-color:                     #ddd !default;
$nav-tabs-link-hover-border-color:          $brand-primary !default;
$nav-tabs-active-link-hover-bg:             $brand-primary !default;
$nav-tabs-active-link-hover-color:          white !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;
$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

$line-height-base:        1.428571429 !default; // 20/14
$border-radius-base:        4px !default;
