#block-menu-menu-footer-menu {
  float: none;
  padding: 20px 0;
  margin: 0;

  ul.menu li {
    display: inline;

    a {
      font-size: $font-size-h6;
      display: inline-block;
      padding: 0 4px;
      color: darken($link-color, 10%);

      &:active,
      &:hover {
        background: none;
        text-decoration: underline;
      }
    }

    &:before {
      content: '|';
      margin-right: 5px;
    }

    &:first-child:before {
      display: none;
    }

  }
}
