#block-menu-menu-meta-menu {
  float: none;
  padding: 0;

  ul.menu li {
    display: inline;

    a {
      display: inline-block;
      padding: 0 4px;
      color: darken($link-color, 10%);

      &:active,
      &:hover {
        background: none;
        text-decoration: underline;
      }
    }

    &:before {
      content: '|';
      margin-right: 10px;
    }

    &:first-child:before {
      display: none;
    }

  }
}
