.menu:not(.navbar-nav) {

  li {
    margin-bottom: 1px;
  }

  li a {
    padding: 10px;
  }

  a:hover {
    text-decoration: underline;
  }

  a:before {
    @extend .icon;
    @extend .icon-search;
  }

}
