body {
  background-color: $brand-background;
}

a {
  color: $brand-primary;
  
  p & {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $brand-dark;
  }
}
