@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Roboto Slab', 'Droid Sans', Arial, sans-serif;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
} /* =14px */

h1 {
  font-size: 24px;
  font-size: 2.4rem;
} /* =24px */

h2 {
  font-size: 18px;
  font-size: 1.8rem;
} /* =18px */

h3 {

}

.page-header {
  border: 0;
  margin: 0;
}
