- var base = "../"
- var pagetype = "styleguide"
- var section = "atoms"
- var page = "Atoms"

doctype html
html(lang="en")
  head
    include ../layout/_head.jade
  body(class='#{pagetype}')
      
    .region.region-page-top
      include ../layout/_top.jade
        

    .main-wrapper.container
      include ../layout/_navbar.jade
      
      #page-banner(role='banner') 
      // Create region for banner and render it here. We moved header to the navbar header section.
        
      include ../layout/_main.jade
        
        block content
          p In chemistry, atoms are the basic building blocks of matter. They have distinct properties and can’t be broken down further without losing their meaning.Translated to interfaces, atoms are basic tags, such as form labels, inputs or buttons. They also include more abstract elements like color palettes, fonts, and animations.
          p Atoms are abstract and aren’t often terribly useful on their own, but they provide a useful reference and allow you to see all your global styles laid out at a glance.
          
    include ../layout/_scripts.jade
