.arrow-title {
  position: relative;

  a {
    display: inline-block;
    font-size: $font-size-h4;
    color: $link-color;
    padding-left: 25px;

    &:hover {
      text-decoration: underline;
      background: transparent;
    }
  }

  @extend .icon-arrowright;

  &:before {
    position: absolute;
    color: $brand-success;
    font-size: 10px;
    margin-right: 1em;
    top: 14px;
    left: 0;
    transition: .2s left ease;
  }

  &:hover:before {
    left: 5px;
  }
}
