.not-front:not(.page-search) .breadcrumb-wrapper {
  z-index: 1;
  position: relative;
  background-color: $gray-lighter;

  .breadcrumb {
    background: transparent;
    float: left;
    width: 100%;
    margin: 0;

    @include MQ($screen-sm) {
      width: 50%;
      margin: 10px 0;
    }

    a {
      color: $gray;
    }
  }
}
