.icon-arrowleft:before { font-family: $icon-font-name; content: "\e900"; }
.icon-arrowdown:before { font-family: $icon-font-name; content: "\e901"; }
.icon-arrowup:before { font-family: $icon-font-name; content: "\e902"; }
.icon-google:before { font-family: $icon-font-name; content: "\e903"; }
.icon-alarm:before { font-family: $icon-font-name; content: "\e802"; }
.icon-pdf:before { font-family: $icon-font-name; content: "\e803"; }
.icon-search:before { font-family: $icon-font-name; content: "\e804"; }
.icon-arrowright:before { font-family: $icon-font-name; content: "\1f3f2"; }
.icon-twitter:before { font-family: $icon-font-name; content: "\e807"; }
.icon-linkedin:before { font-family: $icon-font-name; content: "\e808"; }
.icon-facebook:before { font-family: $icon-font-name; content: "\e809"; }
.icon-phone:before { font-family: $icon-font-name; content: "\e810"; }
.icon-location:before { font-family: $icon-font-name; content: "\e80e"; }
.icon-email:before { font-family: $icon-font-name; content: "\e80f"; }
