h1,h2,h3,h4,h5,h6 {
  color: $link-color;
  font-family: $headings-font-family;
  font-weight: bold;

  a:hover {
    color: $link-color;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

a,
a:hover {
  color: $link-color;
}

.region-content a {
  text-decoration: underline;
  color: $link-color;
  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}
