meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(charset='utf-8')

if page
  title #{page} - WIM
else
  title Documentation - WIM

base(href="#{base}")

link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css', rel='stylesheet', media='screen')
link(href='css/wim.css', type='text/css', rel='stylesheet', media='screen')

if section == "atoms" || section == "molecules" || section == "organisms"
  link(href='css/prism.css', type='text/css', rel='stylesheet', media='screen')
