@font-face {
  font-family: 'icons-coevorden';
  src:  url('../fonts/icons-coevorden.eot?c0wfjv');
  src:  url('../fonts/icons-coevorden.eot?c0wfjv#iefix') format('embedded-opentype'),
    url('../fonts/icons-coevorden.ttf?c0wfjv') format('truetype'),
    url('../fonts/icons-coevorden.woff?c0wfjv') format('woff'),
    url('../fonts/icons-coevorden.svg?c0wfjv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
