body {
  background: white;
  font-family: $font-family-base;
}

body.navbar-is-fixed-top {
  padding: 0 !important;
}

body.admin-menu.navbar-is-fixed-top {
  padding-top: 0 !important;
}

body.admin-menu .navbar-fixed-top {
  top: 0;
  @include MQ($screen-sm) {
    top: 29px;
  }
}

body.navbar-is-fixed-top .main-wrapper {
  margin-top: 106px;
  @include MQ($screen-sm) {
    margin-top: 198px;
  }
}

body #admin-menu {
  position: fixed !important;
}


#block-system-main {
  margin: 0;
}

@include MQ($screen-md){
  .tabs--primary,
  .no-sidebars .page-header,
  .no-sidebars #block-system-main.col-md-12 {
    width: 100%;
    float: none;
    max-width: 585px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.page-header {
  border: 0;
  font-size: $font-size-h2;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px !important;
}

.slicknav_menu {
  display: none;
}

.main-wrapper {
  padding: 0;
  box-shadow: none;
  margin-top: 10px;
  border-radius: 0;
}

.highlighted-wrapper {
  margin-top: -100px;
  position: relative;
  z-index: 1;
  min-height: 183px;
}

.main-container {
  background-color: white;
  border-radius: 0;
  position: relative;
  z-index: 2;
  padding: 30px 15px;

  .region-help {
    .block-system {
      width: auto;
      float: none;
      margin: 0;
      padding: 0;
    }
  }
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  width: 130px;
  position: absolute !important;
  z-index: 2;
}
