- var base = "./"
- var pagetype = "styleguide"
- var page = "Home"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
      
    .region.region-page-top
      include ./layout/_top.jade

    .main-wrapper.container
      include ./layout/_navbar.jade
      
      #page-banner(role='banner') 
      // Create region for banner and render it here. We moved header to the navbar header section.
        
      include ./layout/_main.jade

    include ./layout/_scripts.jade
