- var base = "../../"
- var pagetype = "styleguide"
- var section = "molecules"
- var page = "Vertical tabs"

doctype html
html(lang="en")
  head
    include ../../layout/_head.jade
  body(class='#{pagetype}')
      
    .meta-wrapper.container.container-nopadding
      include ../../layout/_top.jade

    .main-wrapper.container
      include ../../layout/_navbar.jade
      
      #page-banner(role='banner') 
      // Create region for banner and render it here. We moved header to the navbar header section.
        
      include ../../layout/_main.jade

        block content 
          
          p The vertical tabs component is used for the display of main tasks (toptaken) in the site. 
          
          h3 Demo: 
          .tabbable.tabs-left.vertical-tabs.clearfix
            ul.nav.nav-tabs.vertical-tabs-list
              li.vertical-tab-button.first.active.selected(tabindex='-1')
                a(href='#', data-toggle='tab', aria-expanded='true')
                  span
                    | Section 1
              li.vertical-tab-button(tabindex='-1')
                a(href='#', data-toggle='tab', aria-expanded='false')
                  span
                    | Section 2
              li.vertical-tab-button(tabindex='-1')
                a(href='#', data-toggle='tab', aria-expanded='false')
                  span
                    | Section 3
              li.vertical-tab-button.last(tabindex='-1')
                a(href='#', data-toggle='tab', aria-expanded='false')
                  span
                    | Section 4
            .vertical-tabs-panes.vertical-tabs-processed.tab-content(style='min-height: 298px; border-top-left-radius: 0px;')
              fieldset.tab-pane.vertical-tabs-pane.active
                .panel-body.fade
                  | Body of section 1
              fieldset.tab-pane.vertical-tabs-pane
                .panel-body.fade
                  | Body of section 2
              fieldset.tab-pane.vertical-tabs-pane
                .panel-body.fade
                  | Body of section 3
              fieldset.tab-pane.vertical-tabs-pane
                .panel-body.fade
                  | Body of section 4
              input.vertical-tabs-active-tab(type='hidden', name='additional_settings__active_tab', value='edit-menu')
            
            h3 Code: 
            pre.language-html
              code.language-html
                | code
                
    include ../../layout/_scripts.jade
