#accordion,
.views-bootstrap-accordion-plugin-style {
  margin-top: 1em;
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }
  .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid $brand-light;
    & + .panel {
      margin-top: 0;
    }
    &:first-child {
      border-top: 1px solid $brand-light;
    }
  }
  .panel-body {
    padding: 1em 0;
  }
  .panel-heading {
    padding: 10px 0;
    background: none;
    border: none;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto Slab', 'Droid Sans', Arial, sans-serif;
    border-radius: 0;
    h4 {
      text-decoration: none;
      font-size: 15px;
    }
    a {
      color: $brand-primary;
      text-decoration: none;
      &:before {
        font-size: 12px;
        content: "\e259";
        font-family: 'Glyphicons Halflings';
        line-height: 1;
      }
      &.collapsed {
        &:before {
          content: "\e258";
        }

      }
    }
  }
}
