.navbar.container {
  @include MQ($screen-sm) {
    max-width: $container-md;
  }
  @include MQ($screen-md) {
    max-width: $container-lg;
  }
  @include MQ($screen-lg) {
    max-width: $container-lg;
  }
}

.navbar-toggle {
  margin-top: 10px;
  margin-right: 5px;
}

.container.navbar-default {
  border: 0;
  background-color: white;
  margin: 0 auto;
}

.container > .navbar-collapse {
  clear: both;

  @include MQ($screen-sm) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.navbar-default .navbar-collapse {
  background: $brand-primary;
  border-top: 4px solid $brand-light;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background: $link-hover-color;

  @include MQ($screen-md) {
    border-top: 4px solid #ddd;
    margin-top: -4px;
  }

}

.navbar-default .navbar-nav > li {
  &:first-child {
    @extend .fa-angle-right;
    &:before {
      @include fa-icon;
      position: absolute;
      left: -10000px;
    }
  }
  &:hover > a {
    background: $link-hover-color;
    color: white;
  }
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
  &.parent-dropdown {
    & > a {
      position: relative;
      @extend .fa-chevron-down;
      &:before {
        display: none;
      }
      @media (max-width: $screen-sm-min - 1) {
        &:before {
          @include fa-icon;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &.expanded {
      & > a {
        @extend .fa-chevron-up;
      }
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background: $link-hover-color;
  @extend %outline;
}

@media (max-width: $screen-sm-min - 1) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    line-height: 1.42857;
    color: white;
    padding: 10px 20px;
  }
  .dropdown-menu > li > a:active,
  .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    outline: none;
  }
}