aside.col-sm-3(role='complementary')
  .region.region-sidebar-first
    section#block-system-management.block.block-system.block-menu.clearfix
      
      
      h2.block-title #{page}
      ul.menu.nav
        li
          a(href='/colors.html') Colors
        li
          a(href='/Typography.html') Typography
        li
          a(href='/icons.html') Iconen
        li
          a(href='/buttons.html') Buttons
        li
          a(href='/form-elements.html') Form elements
        li
          a(href='/labels.html') Labels
        li
          a(href='/messages.html') Messages
        li
          a(href='/tables.html') Tables
