#block-menu-menu-meta-menu {
  float: none;
  
  ul.menu li {
    display: inline;
    a {
      display: inline-block;
      padding: 0 4px;
      color: darken($link-color, 10%);
      &:before {
        display: none;
      }
      &:hover {
        background: none;
      }
    }
  }
}
