.block {
  .block-title {
    padding: 10px;
    border-top: 1px solid $brand-light;
    background: $brand-block-title-bg;
    margin-bottom: 10px;
    font-size: 130%;
  }
  & > .view {
    margin: 0 10px;
  }
}
