.form-text {
  border: 1px solid $brand-grey-normal;
  box-shadow: inset 2px 2px 6px rgba(0,0,0,0.1);
}

.form-textarea {
  border: 1px solid $brand-grey-normal;
  box-shadow: inset 2px 2px 6px rgba(0,0,0,0.1);
}
