.node{
  .field-type-image{
    margin-bottom: 1em;
  }
}
.field-label-inline{
  .field-items{
    .field-item{
      display: inline-block;
      padding:0 3px;
      &:not(:last-child){
        &:after{
          content: ", ";
        }
      }
    }
  }
}
.node-teaser{
  border-bottom: 1px solid $brand-border;
  margin-bottom: 10px;
  padding-bottom: 10px;

  .teaser-body{
    overflow: hidden;
    h3{
      margin-top: 0;
      font-weight: normal;
    }
  }
  &:last-child{
    border-bottom: none;
  }
  .teaser-image{
    @include breakpoint($screen-xs){
      float: left;
      width: 140px;
      margin-right: 1em;
    }
    .field-type-image{
      @include breakpoint($screen-xs){
        margin-bottom: 0;
      }
      img{
        width: 100%;
      }
    }
  }
  &.node-teaser-short {
    font-size: 13px;
    .teaser-body{
      h3{
        margin-bottom: 0;
      }
      .field{
        display: inline;
        padding-right: 5px;
        *{
          display: inline;
        }
      }
      .field-type-datetime{
        font-weight: 700;
        &:after{
          content: " —";
          font-weight: normal;
        }
      }
    }
  }
}
.more-link a::after {
  content: "&#187;";
}