
.node{
  .field-type-image{
    margin-bottom: 1em;
  }
  .content{
    h1,h2,h3,h4,h5,h6{
      color: $brand-primary;
      margin-bottom: 0.75em;
      margin-top: 1.25em;
    }
  }
}
.field-label-inline{
  margin: 1em 0;
  .field-label{
    font-weight: normal;
  }
  .field-items{
    .field-item{
      display: inline-block;
      padding:0 3px;
      a{
        text-decoration: underline;
      }
    }
  }
}
.node-teaser{
  border-bottom: 1px solid $brand-border;
  margin-bottom: 10px;
  padding-bottom: 10px;

  .teaser-body{
    overflow: hidden;
    h3{
      font-size: 16px;
      line-height: 1.6;
      margin-top: 0;
      font-weight: normal;
    }
    p{
      line-height: 1.6;
    }
  }
  &:last-child{
    border-bottom: none;
    .view & {
      border-bottom: 1px solid $brand-border;
    }

    .view .view-content > div:last-child &{
      border-bottom: none;
    }
  }
  .teaser-image{
    @include breakpoint($screen-xs){
      float: left;
      width: 140px;
      margin-right: 1em;
    }
    .field-type-image{
      @include breakpoint($screen-xs){
        margin-bottom: 0;
      }
      img{
        width: 100%;
      }
    }
  }
  &.node-teaser-short {
    font-size: 13px;
    .teaser-body{
      h3{
        margin-bottom: 0;
        line-height: 1.6;
        font-size: 14px;
      }
      .field{
        display: inline;
        padding-right: 5px;
        *{
          display: inline;
        }
      }
      .field-type-datetime{
        font-weight: 700;
        &:after{
          content: " —";
          font-weight: normal;
        }
      }
    }
  }
}
.page-news{
  .page-header{
    padding: 10px;
    border-top: 1px solid $brand-light;
    background: $brand-block-title-bg;
    margin-bottom: 10px;
    font-size: 130%;
  }
}