$brand-primary: #660066;

$brand-grey-light: #efefef;
$brand-grey-normal: #d0d0d0;

$brand-light: #efe5ef;
$brand-dark: #330033;

$brand-background: #dddddd;
$brand-heading: #660066;
$brand-button: #660066;
$brand-border: #eaeaea;

$brand-body: #333;

// Grid sizing variables for breakpoints
$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

// Bootstrap default variables
$container-large-desktop: 1170px;
