.bootstrap-fieldgroup-accordion {
  .panel {
    border-radius: 0;
  }
  .panel-heading {
    border-radius: 0;
    background: none;
    padding: 0;

    a {
      display: block;
      padding: 10px 15px;
      color: $brand-primary;
      text-decoration: none;

      @extend .icon-arrowdown;

      &:before {
        margin-right: 10px;
      }

      &[aria-expanded="true"] {
        @extend .icon-arrowup;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $gray-lighter;
      }
    }
  }

  .panel-body {

  }

}
