.block-custom-lists {
  background: white;
  padding-bottom: 15px;
  @extend .z-depth-1;

  .block-title {
    font-size: $font-size-h3;
  }

  .date-body {
    padding: 20px 0;
    border-top: 1px solid $gray-lighter;
  }

  .date-body h3 {
    margin: 0;
    margin-bottom: 10px;
    @extend .arrow-title;
    &:before {
      top: 10px;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
  }

  .field-name-field-publication-date {
    color: $gray-light;
  }

  .more-link {
    a {
      @extend .btn-flat;
    }
    // a {
    //   font-family: $font-family-sans-serif;
    //   margin-bottom: 20px;
    // }
  }
}
