.bean-editorial {



}


.editorial {

  &.bean-view-mode-default {

    .entity {
      position: relative;
      min-height: 70px;
    }

    .field-name-field-image {
      position: absolute;
      left: 15px;
      top: 15px;
    }

    .block-title {
      position: absolute;
      left: 85px;
      top: 25px;
      z-index: 1;

      a {
        font-size: $font-size-h4;
        width: auto;
        display:block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include MQ($screen-sm) {
          max-width: 75px;
        }
        @include MQ($screen-md) {
          max-width: 175px;
        }
      }
    }
    .field-name-field-body {
      margin-top: 55px;
    }
  }

  &.bean-view-mode-link-title {

    .block-title {
      padding: 15px;
      background-color: $brand-primary;
      color: white;
      min-height: 80px;
      margin: 0;
      font-size: $font-size-h4;

      a {
        color: white;
      }
    }

    .bean-editorial {
      display: none;
    }
  }

  &.bean-view-mode-header-image {

    .field-name-field-image {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -15px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .bean-title {
      border-top: 1px solid $gray-lighter;
      @extend .arrow-title;

      &:before {
        top: 16px;
      }
    }

  }

 }
