.form-text {
  box-shadow: none
}

.form-textarea {
  box-shadow: none;
}

// Should be done in config
.webform-container-inline {
  display: block;

  .control-label {
    display: block;
    margin-bottom: .5em;
  }

}

.webform-component-date .webform-container-inline {
  display: block;

  label {
    display: inline-block;
    margin-bottom: 1em;
  }

  .form-item {
    display: inline-block;
    margin-right: 1em;
  }

}
