.navbar .logo {
  padding: 10px 0 15px;
}

.navbar-wrapper.navbar-fixed-top {
  position: fixed;
  top: 0;
  background: white;
}

.navbar-wrapper {
  z-index: 3;
  background: white;
  position: relative;

  &:after {
    content: '';
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,0.0));
    bottom: -10px;
    position: absolute;
    width: 100%;
    height: 10px;
  }
}

.navbar {
  border-radius: 0;
}

.navbar.container {
  max-width: none;
}

.navbar-header {
  width: 100%;
  float: none;

  @include MQ($screen-sm) {
    padding: 3em 0;
  }
}

.navbar-default {
  border: 0;
  background-color: transparent;
  margin: 0 auto;
}
.navbar-default .navbar-toggle:before {
  content: 'menu';
  font-size: 1.2em;
  color: $brand-primary;
  position: absolute;
  left: -100%;
  width: auto;
  margin-top: -3px;
}
.navbar-default .navbar-toggle {
  border: 0;
  margin: 12px 0;
  margin-right: 0;

  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
  }

  .icon-bar {
    background-color: $brand-primary;
    height: 3px;
  }
}

.container .navbar-header {
  margin: 0;
  position: relative;
}

.navbar-default .navbar-collapse {
  clear: both;
  background: $brand-primary;
  position: absolute;
  min-width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 0;
  top: 100%;
  left: 0;
  right: 0;

  @include MQ($screen-sm) {
    float: right;
    min-width: auto;
    top: auto;
    margin: 0;
    margin-top: 20px;
    position: relative;
    background: transparent;
    clear: none;
    width: auto;
  }
  @include MQ($screen-md) {
    margin-top: 10px;
  }
}

.navbar-default .navbar-nav {
  margin-right: 0;
  margin-left: 0;

  li {
    border-bottom: 1px solid rgba(255,255,255,0.2);

    @include MQ($screen-sm) {
      border-bottom: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
  font-family: $headings-font-family;
  font-weight: normal;
  background: transparent;
  text-decoration: none;
  color: white;
  padding: .8em 1em;
  font-size: 1.1em;
  font-weight: bold;

  @include MQ($screen-sm) {
    font-size: 1.1em;
    padding: .5em 1em;
    color: $brand-primary;
    border-left: 2px solid $gray-lighter;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      margin: 0 auto;
      top: 10px;
      position: relative;
      background: $brand-primary;
      transition: .2s width ease;
    }
    &:hover:after {
      width: 100%;
    }
  }
  @include MQ($screen-md) {
    padding: .7em 1.5em .8em;
    font-size: 1.3em;
  }
}

.navbar-default .navbar-nav > li:first-child > a {
  border-left: 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background: transparent;

  @include MQ($screen-md) {
    color: $brand-primary;
    border-top: 0;
    margin-top: 0;
  }

}
.navbar-default .navbar-nav > li:last-child a:after {
  display: none;
}
.navbar-default .navbar-nav > li:last-child > a {
  color: white;
  background-color: $brand-primary;
  border-left: 0;

  &:focus,
  &:hover {
    color: white;
    background: $brand-primary;
  }
}
.navbar-default .navbar-nav > li:hover > a {
  background: transparent;
}
