.search-results {
  padding: 0;
}
.search-result {
  padding: 15px;
  margin: 0;
  list-style: none;
  margin-bottom: 15px;
  @extend .z-depth-1;

  .title {
    @extend .bean-title;
    margin-top: 0;
    border: 0;

    .content-type {
      display: inline-block;
      padding-top: 12px;
      font-size: $font-size-h5;
    }
  }
  article {
    margin-bottom: 1em;

    .submitted {
      margin: 0;
    }
  }
  .source-wrapper {
    color: $gray-light;
  }
}
