.footer {
  padding-top: 30px;
  background-color: $brand-primary;
  color: white;
}

.footer .block h2,
.footer .block .block-title {
  color: white;
  font-size: $font-size-h4;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer .block {
  table {
    margin: 1em 0;

    td {
      padding: .5em .5em .5em 0;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }

  .contact-list {
    li {
      padding: .5em 0;

      &:before {
        font-size: 1.3em;
        margin-right: 10px;
      }
    }
    .phone {
      @extend .icon-phone;
    }
    .mail {
      @extend .icon-email;
    }
    .location {
      @extend .icon-location;
    }
  }

  .footer-icons {
    li {
      display: inline-block;
      margin-right: 10px;

      a {
        font-size: 0;
        display: block;
        color: $brand-primary;

        &::before {
          display: block;
          padding: 4px;
          text-align: center;
          border-radius: 50%;
          background: white;
          color: $brand-primary;
          width: 30px;
          height: 30px;
          font-size: 16px;
          transition: .2s transform ease;
        }

        &:focus,
        &:hover {
          text-decoration: none;
        }

        &:hover::before {
          transform: scale(1.2);
        }
      }
    }
    .twitter a {
      @extend .icon-twitter;
    }
    .facebook a {
      @extend .icon-facebook;
    }
    .linkedin a {
      @extend .icon-linkedin;
    }
  }

}

.footer {
  a {
    color: white;

    &.btn {
      @extend .btn-outline;
      padding: 10px 20px 10px 30px;
    }
  }
}
