.front .region-header,
.page-search .region-header {
  width: 100%;
  padding-top: 120px;
  @include MQ($screen-sm) {
    padding-top: 140px;
  }
}
.not-front:not(.page-search) .region-header {
  float: right;
  width: 100%;
  padding-bottom: 10px;

  @include MQ($screen-sm) {
    margin-top: 7px;
    max-width: 300px;
    padding-bottom: 0px;
  }
}
