.node-type-product {
  .field-label-abovec,
  .field-label-above {
    margin: 1em -0;
    .field-label {
      padding: 10px;
      border-top: 1px solid $gray-lighter;
      background: $gray-lighter;
      margin-bottom: 10px;
      font-size: 100%;
      font-weight: normal;
    }
    a {
      text-decoration: underline;
    }
    &.field-name-field-tags {
      .field-item {
        display: inline-block;
        &:not(:first-child) {
          padding-left: 5px;
        }
      }
    }
  }
}
